<h2>The Problems With Christianity</h2>
<h4>1. There are evil passages in the Bible. The following is merely a sampling.</h4>
<ol>
  <li id='list'>Genocide, especially killing children and infants</li>
    <ul>
      <li>Deuteronomy 32:25 - In the street the sword will make them childless; in their homes terror will reign. The young men and young women will perish, the infants and those with gray hair. (said in first person by the Christian god himself, regarding the Israelites who supposedly abandoned him for other deities. The adults who did these things should've been punished, and not their children and infants. Obviously.)</li>
      <li>2 Chronicles 21:14-15 - Behold, the Lord will strike your people with a serious affliction—your children, your wives, and all your possessions; and you will become very sick with a disease of your intestines, until your intestines come out by reason of the sickness, day by day. (said by Elijah, again regarding the Israelites. Again - the adults who did these things should've been punished, and not their children and infants.)</li>
      <li>Exodus 11 - Killing the firstborn of Egypt in the final plague (there wasn't a better way to release the Israelites from captivity? I doubt that.)</li>
      <li>Genesis 7 - The Flood. (There wasn't a better way to address the world's problems than killing all life on earth, animals, children, and infants included? I can think of better ways to address a situation like that, and so can a supposedly perfect deity. </li>
      <li>Numbers 31:17 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately. (Killing Midianite children because... god said so)</li>
    </ul>
  <li id='list'>The Bible unequivocally supports slavery (and no, we're not talking about "indentured servitude" - that excuse clearly can't be used with the following verses)</li>
      <ul>
        <li>Leviticus 25:44-46 - And as for your male and female slaves whom you may have—from the nations that are around you, from them you may buy male and female slaves. Moreover you may buy the children of the strangers who dwell among you, and their families who are with you, which they beget in your land; and they shall become your property. And you may take them as an inheritance for your children after you, to inherit them as a possession; they shall be your permanent slaves. But regarding your brethren, the children of Israel, you shall not rule over one another with rigor</li>
        <img src="https://media.tenor.com/images/58b930b25f43202625e72493a82ebc78/tenor.gif" alt="">
        <li>1 Timothy 6:1 - All who are under the yoke of slavery should consider their masters worthy of full respect, so that God’s name and our teaching may not be slandered (ICYMI, the case is made to continue being enslaved so that you don't make god look bad and convert your masters to Christianity)</li>
        <li>1 Peter 2:18 - Slaves, in reverent fear of God submit yourselves to your masters, not only to those who are good and considerate, but also to those who are harsh.</li>
      </ul>
  <li id='list'>The Bible unequivocally supports sex slavery</li>
      <ul>
        <li>Numbers 31: 17-18 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately. But keep alive for yourselves all the young girls who have not known a man intimately. (Yikes - Moses said this himself! Taking sex slaves from enemy nations (in this case, Midianite) is justified... how?)</li>
      </ul>
</ol>

<h4>2. There are unnecessary and strange passages in bible The following is merely a sampling.</h4>
<ul>
  <li>Leviticus 19: 19, 23-24, 27-28 -- Keep my decrees. Do not mate different kinds of animals. Do not plant your field with two kinds of seed. Do not wear clothing woven of two kinds of material... When you enter the land and plant any kind of fruit tree, regard its fruit as forbidden.[b] For three years you are to consider it forbidden[c]; it must not be eaten. In the fourth year all its fruit will be holy, an offering of praise to the Lord. Do not cut the hair at the sides of your head or clip off the edges of your beard. Do not cut your bodies for the dead or put tattoo marks on yourselves. I am the Lord.</li>
  <li>1 Corinthians 11: 4-7 -- Every man who prays or prophesies with his head covered dishonors his head. But every woman who prays or prophesies with her head uncovered dishonors her head—it is the same as having her head shaved. For if a woman does not cover her head, she might as well have her hair cut off; but if it is a disgrace for a woman to have her hair cut off or her head shaved, then she should cover her head. A man ought not to cover his head,[b] since he is the image and glory of God; but woman is the glory of man.</li>
  <li>Levitius 11:10 -- But all creatures in the seas or streams that do not have fins and scales—whether among all the swarming things or among all the other living creatures in the water—you are to regard as unclean. </li>
</ul>
