<h2>Why Christianity (and all religions) are bad and false ideologies</h2>
<br>
<h3>Section on Christianity:</h3>
<br>
<h4>1. The Bible endorses needless genocide</h4>
<br>
    <ul>
      <li>Deuteronomy 32:25 - In the street the sword will make them childless; in their homes terror will reign. The young men and young women will perish, the infants and those with gray hair. <i>(said in first person by the Christian god himself, regarding the Israelites who supposedly abandoned him for other deities. Why were the children and infants of the adults who committed the offense punished?)</i></li>
      <li>2 Chronicles 21:14-15 - Behold, the Lord will strike your people with a serious affliction—your children, your wives, and all your possessions; and you will become very sick with a disease of your intestines, until your intestines come out by reason of the sickness, day by day. <i>(said by Elijah, regarding the Israelites. Why were the children and infants of the adults who committed the "offense" punished?)</i></li>
      <li>Exodus 11 - Killing the firstborn of Egypt in the final plague <i>(there wasn't a better way to release the Israelites from captivity? I can think of a million better miracles to achieve that goal)</i></li>
      <li>Genesis 7 - The Flood. <i>(There wasn't a better way to address the world's problems than killing all life on earth, animals, children, and infants included? If I can think of better ways to address a situation like that, so can a supposedly perfect deity.</i></li>
      <li>Numbers 31:17 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately. <i>(Why did God instruct the Israelites to be kill Midianite children? What did they do to deserve death?)</i></li>
    </ul>
    <br>
    <h6>Further Commentary</h6>
    <p>Why would an all powerful deity need to kill every firstborn child in Egypt to free the slaves? How about freeing the slaves in a nonviolent way? I can already think of a better way. He could've done what Professor X did in the movie X2: freeze all the Egyptians and let the Israelites walk free. I just thought of a better way to achieve that goal. Why didn't god think of that? The clip from the movie is below: </p>
    <iframe width="300" height="215" src="https://www.youtube-nocookie.com/embed/_To4GrznHbs?start=55" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
  <h4>2. The Bible endorses slavery</h4>
      <ul>
        <li>Leviticus 25:44-46 - And as for your male and female slaves whom you may have—from the nations that are around you, from them you may buy male and female slaves. Moreover you may buy the children of the strangers who dwell among you, and their families who are with you, which they beget in your land; and they shall become your property. And you may take them as an inheritance for your children after you, to inherit them as a possession; they shall be your permanent slaves. But regarding your brethren, the children of Israel, you shall not rule over one another with rigor</li>
        <li>1 Timothy 6:1 - All who are under the yoke of slavery should consider their masters worthy of full respect, so that God’s name and our teaching may not be slandered <i>(Let's be clear here - the reasons given to continue being enslaved is to ensure that you don't make god look bad and to potentially convert your masters to Christianity)</i></li>
        <li>1 Peter 2:18 - Slaves, in reverent fear of God submit yourselves to your masters, not only to those who are good and considerate, but also to those who are harsh.</li>
      </ul>
      <br>
      <h6>Further Commentary</h6>
      <p>Many Christians claim that slavery in Biblical times was simply "indentured servitude" - that claim can't be used with the following verses. This is an excellent video by the Youtuber Rationality Rules that shows that the Bible endorses slavery, and his video refutes arguments from people like Ben Shapiro and Jordan Peterson.</p>
      <iframe width="300" height="215" src="https://www.youtube-nocookie.com/embed/6iAQ6dA5gJI?start=55" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br><br>
  <h4>3. The Bible endorses sex slavery</h4>
      <ul>
        <li>Numbers 31: 17-18 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately. But keep alive for yourselves all the young girls who have not known a man intimately.</li>
      </ul>

<h4>4. There are normal acts that are considered immoral in Bible.</h4>
<ul>
  <li>Leviticus 19: 19, 23-24, 27-28 -- Keep my decrees. Do not mate different kinds of animals. Do not plant your field with two kinds of seed. Do not wear clothing woven of two kinds of material... When you enter the land and plant any kind of fruit tree, regard its fruit as forbidden. For three years you are to consider it forbidden[c]; it must not be eaten. In the fourth year all its fruit will be holy, an offering of praise to the Lord. Do not cut the hair at the sides of your head or clip off the edges of your beard. Do not cut your bodies for the dead or put tattoo marks on yourselves. I am the Lord.</li>
  <li>1 Corinthians 11: 4-7 -- Every man who prays or prophesies with his head covered dishonors his head. But every woman who prays or prophesies with her head uncovered dishonors her head—it is the same as having her head shaved. For if a woman does not cover her head, she might as well have her hair cut off; but if it is a disgrace for a woman to have her hair cut off or her head shaved, then she should cover her head. A man ought not to cover his head,[b] since he is the image and glory of God; but woman is the glory of man.</li>
  <li>Levitius 11:10 -- But all creatures in the seas or streams that do not have fins and scales—whether among all the swarming things or among all the other living creatures in the water—you are to regard as unclean. <i>(why was eating lobsters immoral? Why were lobsters considered unclean? It makes absolutely no sense. Instead of this verse, there should have been a verse that said: DO NOT OWN SLAVES! DO NOT KILL GAY PEOPLE!)</i></li>
</ul>
<br>
<h6>Further Commentary</h6>
<p>Let's go over the things that are considered immoral, at one point or another, in the Bible. Ask yourself the question: Why were the following things considered immoral, while owning slaves, killing gay people and adulterers, etc. were explicitly endorsed? </p>
<ul>
  <li>Do not mate two different kinds of animals <i>(Why does the Bible prohibit the existence of: mules, zebroids, ligers, wholphins, etc.)</i></li>
  <li>Do not plant your field with two kinds of seed. </li>
  <li>Do not wear clothing woven of two kinds of material <i>(Why was this, of all things, considered immoral? Meanwhile, owning slaves and murdering gay people was okay!)</i></li>
  <li>Don't eat fruit from a fruit tree within the first three years of it being planted</li>
  <li>Don't clip off the edges of your beard or trim the hair on the sides of your head.</li>
  <li>Don't have tattoos</li>
  <li>Women must pray with their heads covered.</li>
  <li>Men must not pray with their heads covered. </li>
  <li>Don't eat lobters, shrimp, crab, oysters, etc. </li>
</ul>
<p>Douglas Murray talked with Joe Rogan about more strange passages in the Bible (video starts at 52:26, watch until 55:30):</p>
<iframe width="300" height="215" src="https://www.youtube-nocookie.com/embed/rBp4afbDeLk?start=3146" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
