<h2>The Problems With Christianity</h2>
<h4>1. There are evil passages in the Bible. The following is merely a sampling.</h4>
<ol>
  <li id='list'>Genocide, especially killing children and infants</li>
    <ul>
      <li>Deuteronomy 32:25 - In the street the sword will make them childless; in their homes terror will reign. The young men and young women will perish, the infants and those with gray hair. (said in first person by the Christian god himself)</li>
      <li>2 Chronicles 21:14-15 - Behold, the Lord will strike your people with a serious affliction—your children, your wives, and all your possessions; and you will become very sick with a disease of your intestines, until your intestines come out by reason of the sickness, day by day.</li>
      <li>Exodus 11 - Killing the firstborn of Egypt in the final plague (there wasn't a better way to release the Israelites from captivity? I doubt that.)</li>
      <li>Genesis 7 - The Flood. (There wasn't a better way to address the world's problems than killing all life on earth, animals, children, and infants included? I can think of better ways to address a situation like that, and so can a supposedly perfect deity. </li>
      <li>Numbers 31:17 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately.</li>
    </ul>
  <li id='list'>The Bible unequivocally supports slavery (and no, we're not talking about the "indentured servitude back then was a common and humane job" argument that Christians love to bring up when Biblical slavery is brought up. That excuse can't be used with these verses)</li>
      <ul>
        <li>Leviticus 25:44-46 - And as for your male and female slaves whom you may have—from the nations that are around you, from them you may buy male and female slaves. Moreover you may buy the children of the strangers who dwell among you, and their families who are with you, which they beget in your land; and they shall become your property. And you may take them as an inheritance for your children after you, to inherit them as a possession; they shall be your permanent slaves. But regarding your brethren, the children of Israel, you shall not rule over one another with rigor</li>
        <img src="https://media.tenor.com/images/58b930b25f43202625e72493a82ebc78/tenor.gif" alt="">
        <li>1 Timothy 6:1 - All who are under the yoke of slavery should consider their masters worthy of full respect, so that God’s name and our teaching may not be slandered (ICYMI, the case is made to continue being enslaved so that you don't make god look bad and convert your masters to Christianity)</li>
        <li>1 Peter 2:18 - Slaves, in reverent fear of God submit yourselves to your masters, not only to those who are good and considerate, but also to those who are harsh.</li>
      </ul>
  <li id='list'>The Bible unequivocally supports sex slavery</li>
      <ul>
        <li>Numbers 31: 17-18 - Now therefore, kill every male among the little ones, and kill every woman who has known a man intimately. But keep alive for yourselves all the young girls who have not known a man intimately. (Yikes - Moses said this himself!)</li>
      </ul>
</ol>
